section.molecule {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    h2 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-right: -50%;
        font-size: 40px;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 10px;
        text-indent: 10px;
        color: white;
    }
    canvas {
        background-color: black;
    }
}

section.technology {
    .row {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;

        .wrapper-parallax {
            width: 50%;
            overflow: hidden;
            height: 50vh;
            position: relative;
            // outline: solid 1px black;
            
            .inner-parallax{
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 80vh;
                width: 100%;
                background-color: darkslategrey;
                img {
                    height: 50%;
                    
                }
            }
            button {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background-color: transparent;
                padding: 50px 80px;
                font-size: 52px;
                color: chartreuse;
                letter-spacing: 5px;
                border: none;
                font-weight: bold;
                outline: none;
                opacity: 0;
                transition: all .4s;
                cursor: pointer;

                &:hover{
                    opacity: 1;
                }
            }
        }
    }
}
@media screen and (max-width: 768px){
    section.molecule {
        position: relative;
        height: 100vh;
        width: 100%;
        overflow: hidden;
        h2 {
            font-size: 24px;
            text-transform: uppercase;
        }
        canvas {
            background-color: black;
        }
    }

    section.technology {
        .row {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
    
            .wrapper-parallax {
                width: 100%;
                .inner-parallax{
                    img {
                        height: 40%;
                    }
                }
            }
        }
    }
}
