section.molecule {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    h2 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-right: -50%;
        font-size: 40px;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 10px;
        text-indent: 10px;
    }
    canvas {
        background-color: rgb(197, 164, 54);
    }
}

section.technology {
    .row {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;

        .wrapper-parallax {
            width: 50%;
            overflow: hidden;
            height: 50vh;
            position: relative;

            .inner-parallax{
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 80vh;
                width: 100%;
                background-color: aqua;

                img {
                    height: 50%;
                }
            }
            button {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background-color: transparent;
                padding: 20px 30px;
                font-size: 52px;
                color: white;
                letter-spacing: 5px;
                border: none;
                font-weight: bold;
                // display: block;
            }
        }
    }
}
